.alert-box {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.alert-box--success {
    background-color: #ccffcc;
}

.alert-box--danger {
    background-color: #ffe6e6;
}